/*ONLY-BACKGROUND*/
 .background,
 .clash-missed-lockin-modal,
 .clash-root-background-landing,
 .clash-root-background,
 .clash-aram-intro-modal,
 .clash-tab-team-background,
 .clash-tab-bracket-background,
 .collections-application,
 .career-postgame-progression-component,
 .loot-backdrop,
 .loot-contents,
 .lol-social-identity,
 .lol-social-sidebar,
 .loot-backdrop.background-static,
 .lol-social-lower-pane-container,
 .match-details-root,
 .mission-tracker-component,
 .mission-tray-header,
 .profile-main-match-history,
 .postgame-root-component,
 .postgame-contents,
 .postgame-root-component,
 .postgame-application,
 .postgame-component,
 .postgame-champion-background-wrapper,
 .postgame-header-section,
 .progression-tab,
 .prompted-voting-component,
 .rcp-fe-lol-tft-application-background,
 .rcp-fe-viewport-sidebar,
 .rcp-fe-lol-tft-hub,
 .store-loading,
 .store-backdrop,
 .stats-backdrop,
 .tournament-scouting,
 .tft-hub-footer-bg,
 .yourshop-root,
 .tft-player-card,
 .player-party-controls,
 .runes-recommender-root,
 .lol-perks-construct-minspec-component,
 .rcp-fe-lol-game-in-progress,
 .lol-loading-screen-container,
 .lol-loading-screen-default-state,
 .match-history-main,
 #rcp-fe-viewport-root #rcp-fe-lol-navigation-app, 
 lol-social-roster-group .group-header{
  background: black !important;
}

/*OTHER-STUFF*/
 .navbar-blur{
  background: black !important;
  backdrop-filter: none !important;
 }
 .ranked-intro-background {
  display: none !important;
 }
 .lobby-header-overlay{
  background: transparent !important;
 }
 .right-nav-vertical-rule{
  background: transparent !important;
 }
 .parties-view .parties-background {
  opacity:0 !important;
 }
 .rcp-fe-lol-navigation.main-nav-bar {
  height: 76px !important;
 }
 .lol-loading-screen-container.lol-loading-screen-default-state .lol-loading-screen-spinner {
	display: none !important;
 }
 .loading-tab::after {
	background-image:none !important;
 }
 .parallax-layer-container .parallax-background-layer{
  background-image: none !important;
 }
 .uikit-background-switcher .lol-uikit-background-switcher-image.transition.fade {
	animation: unset !important;
 }
 .champion-select .quit-button {
  width: 115px;
}

/*EVENT-SHOP*/
 .rcp-fe-lol-event-shop-application
 .event-shop-progression-info
 .event-shop-offer-card
 .event-shop-token-shop
 .event-shop-page-header
 .event-shop-token-shop-header
 .event-shop-category-nav-bar
 .event-shop-reward-track-wrapper{
  background: black !important;
}
